var target_div = "#alerts_" + <%= @record_id %>
<% if @status != 'success' %>
  var message = '<div class="alert alert-danger" role="alert">Something went wrong. Please try again later or contact technical support.</div>'
  $(target_div).html(message)
  var div_to_show = '#form_' + <%= @record_id %>
  $(div_to_show).show() 
<% else %>
  var message = '<div class="alert alert-success" role="alert">Current trailer was succesfully removed</div>'
  $(target_div).html(message)
  $('#trailer').html('<%= j render "trailer", t: @trailer %>');
  var div_to_show = '#form_' + <%= @record_id %>
  $(div_to_show).show() 
<% end %>