// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.banner {
  background: #000;
  color: #fff;
  padding: 5px 5px 5px 10px;
}

.calendar-heading {
  font-size: 18px;
  text-align: center;
}

.prev-month-link {
  float: left;
  margin-left: 10px;
}
.next-month-link {
  float: right;
  margin-right: 10px;
}

.simple-calendar {
  width: 350px !important;
  .day {
    height: 30px !important;
  }

}